<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="./css/expense.css">
</head>

<body>
    <header>
        <button id="leader-board">Leader Board</button>
        <button id="buyPremiumButton" style="display: none;">Buy Premium</button>
        <p id="premium-status" style="display: none;">You are a Premium User</p>
    </header>
    <h3>Expense Tracker</h3>
    <div class="container">
        <form id="my-form">
            <label for="amount">Choose Expense Amount:</label>
            <input type="number" name="amount" id="amount" min="1">
            <label for="description">Choose Description:</label>
            <input type="text" id="description" name="description" required>
            <label for="category">Choose Category:</label>
            <select id="category">
                <option name="item" value="Fuel">Fuel</option>
                <option name="item" value="Food">Food</option>
                <option name="item" value="Shopping">Shopping</option>
                <option name="item" value="Transportation">Transportation</option>
                <option name="item" value="Housing">Housing</option>
                <option name="item" value="Entertainment">Entertainment</option>
                <option name="item" value="Health and Fitness">Health and Fitness</option>
                <option name="item" value="Travel">Travel</option>
                <option name="item" value="Education">Education</option>
                <option name="item" value="Personal Care">Personal Care</option>
                <option name="item" value="Savings and Investments">Savings and Investments</option>
                <option name="item" value="Debt Payments">Debt Payments</option>
                <option name="item" value="Gifts and Donations">Gifts and Donations</option>
                <option name="item" value="Insurance">Insurance</option>
                <option name="item" value="Taxes">Taxes</option>
            </select>
            <button type="submit" id="button">Add expense</button>
        </form>
    </div>

    <div id="expenseData">
    </div>

    <div id="leaderlist"></div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="expense.js"></script>
</body>

</html>
