<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="./css/leader-board.css">
</head>
<body id="leaderboardBody">
      <h2>LEADERBOARD </h2>
    <div class="leaderboard">
        <div class="leaderboard-row leaderboard-header">
            <div class="position-col">Position</div>
            <div class="name-col">Name</div>
            <div class="total-expense-col">Total Expense</div>
        </div>
         
        <div id="leaderboard-data"></div>
    
        <!-- Add more leaderboard rows as needed -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="leader-board.js"></script>
</body>
</html>
