/* styles.css */

#leaderboardBody, main{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.leaderboard, .expenses {
    background-color: #23a9b5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 70%; /* Use a relative width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.leaderboard-row, .expenses-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.leaderboard-header, .expenses-header {
    font-weight: bold;
}

.position-col,
.name-col,
.total-expense-col,
.button {
    flex-basis: 30%;
    text-align: center;
}

.position-col,
.name-col,
.total-expense-col {
    flex-basis: 30%;
    text-align: center;
}

.amount-col,
.description-col,
.category-col{
    flex-basis: 20%;
    text-align: center;
}

.button {
    flex-basis: 5%;
    text-align: center;
    margin-right: 30px;
    max-height: 30px;
}

.position-col {
    font-weight: bold;
}


.name-col,
.total-expense-col,
.amount-col,
.description-col,
.category-col,
.button {
    font-size: 18px;
}
